<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gestione Accettazioni</title>
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
    <link rel="stylesheet" href="/styles/stylesAccettazione.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="topbar">
    <div class="logo-small">
        <img src="/imgs/logo.png" alt="Logo Officina">
    </div>
    <h1 class="garage-title">Bike <span>Garage</span></h1>
    <div class="user-info" th:if="${impiegato != null}">
        <span th:text="${impiegato.getNome() + ' ' +impiegato.getCognome()}"></span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</div>
<div class="flex-container">
    <div class="main-container">
        <div class="utente-form-section">
            <h2>Ricerca Cliente</h2>
            <div class="search-bar">
                <input type="text" placeholder="Cerca cliente per nome" id="filter-cliente">
            </div>
            <button class="crea-button" id="crea-cliente">Aggiungi nuovo cliente</button>
            <form class="search-form">
                <table class="search-table" id="clientTable">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client, iterStat : ${clienti}" th:if="${iterStat.index < 5}" class="user-row"
                        th:id="${client.getId()}">
                        <td th:text="${client.getNome()}"></td>
                        <td th:text="${client.getCognome()}"></td>
                        <td th:text="${client.getEmail()}"></td>
                    </tr>
                    <tr th:each="client, iterStat : ${clienti}" th:if="${iterStat.index > 4}" class="user-row"
                        th:id="${client.getId()}" style="display: none">
                        <td th:text="${client.getNome()}"></td>
                        <td th:text="${client.getCognome()}"></td>
                        <td th:text="${client.getEmail()}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="registration-form-section">
        <h2>Registrazione Nuovo Cliente</h2>
        <form class="registration-form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Inserisci il nome" required>
            </div>
            <div class="form-group">
                <label for="cognome">Cognome:</label>
                <input type="text" id="cognome" name="cognome" placeholder="Inserisci il cognome" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Inserisci l'email" required>
            </div>
            <button type="submit" id="register-button" class="submit-button">Registra Cliente</button>
        </form>
    </div>

    <div class="main-container">
        <div class="utente-form-section">
            <h2>Moto del cliente</h2>
            <button class="crea-button" id="crea-moto">Aggiungi nuova moto</button>
            <form class="search-form">
                <table class="search-table" id="motoTable">
                    <thead>
                    <tr>
                        <th>Targa</th>
                        <th>Marca</th>
                        <th>Modello</th>
                    </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="/scripts/accettazione.js"></script>
</body>
</html>
