<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Accesso Non Consentito</title>
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
    <link rel="stylesheet" href="/styles/Error.css">
</head>
<body>
<div class="topbar">
    <div class="logo-small">
        <img src="/imgs/logo.png" alt="Logo Officina">
    </div>
    <h1 class="garage-title">Bike <span>Garage</span></h1>
</div>
<div class="flex-container">
    <form class="error-section" action="/">
        <h2>Accesso non consentito</h2>
        <input type="submit" class="submit-button" value="Torna al login">
    </form>
</div>
</body>
</html>
