<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gestione Accettazioni</title>
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
    <link rel="stylesheet" href="/styles/stylesAccettazione.css">
</head>
<body>
<!-- Topbar -->
<div class="topbar">
    <div class="logo-small">
        <img src="/imgs/logo.png" alt="Logo Officina">
    </div>
    <h1 class="garage-title">Bike <span>Garage</span></h1>
    <div class="user-info" th:if="${impiegato != null}">
        <span th:text="${impiegato.getNome() + ' ' +impiegato.getCognome()}"></span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</div>

<!-- Contenuto Principale -->
<div class="main-container">
    <!-- Sezione 1: Ricerca Veicolo -->
    <div class="utente-form-section">
        <h2>Ricerca Cliente</h2>
        <!-- Form di ricerca -->
        <form class="search-form">
            <table class="search-table">
                <tr>
                    <td>&nbsp;</td> <!-- Colonna vuota -->
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>


