<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Access Denied</title>
  <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
  <link rel="stylesheet" href="/styles/stylesAccettazione.css">
</head>
<body>
<div class="topbar">
  <div class="logo-small">
    <img src="/imgs/logo.png" alt="Logo Officina">
  </div>
  <h1 class="garage-title">Bike <span>Garage</span></h1>
</div>
<div class="flex-container">
  <div class="utente-form-section">
    <h2>Errore del Server</h2>
  </div>
</div>
</body>
</html>
