<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Garage Login</title>
    <link rel="stylesheet" href="/styles/stylesLogin.css">
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="login-container">
    <div class="logo">
        <img src="/imgs/logo.png" alt="Bike Garage Logo">
    </div>
    <form class="login-form" th:action="@{/login}" method="post">
        <h1>Accedi</h1>
        <div class="form-group">
            <input id="usrnm_field" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input id="pswd_field" type="password" pattern="^[a-zA-Z0-9_!?@]{6,}$" name="password"
                   placeholder="Password" required>
        </div>
        <input type="submit" class="login-button" value="Login"></input>
        <div id="div-error" th:if="${error}">
            Username o password invalidi
        </div>
    </form>
    <div class="forgot-password">
        <p id="recuperoPassword">Password dimenticata? Recuperala</p>
    </div>
    <div class="status-check">
        <h2>Sei un cliente?</h2>
        <a href="/statoriparazione">Controlla lo stato della tua riparazione</a>
    </div>
</div>
<div id="modal">
    <div id="code-modal" class="utente-form-section modal-content">
        <h2>Recupero password</h2>
        <label for="email_field">Inserisci la tua mail, riceverai un codice di recupero:</label>
        <input id="email_field" type="email" name="email" placeholder="Email" required>
        <button id="sendCode" class="submit-button">Invia codice</button>
        <button id="cancel" class="submit-button">Annulla</button>
    </div>
    <div id="verifica-codice-modal" class="utente-form-section modal-content">
        <h2>Verifica codice:</h2>
        <input id="code_field" type="password" name="password" placeholder="Codice" required>
        <button id="checkCode" class="submit-button">Verifica codice</button>
    </div>
    <div id="password-modal" class="utente-form-section modal-content">
        <h2>Nuova password:</h2>
        <input id="new_pswd_field" type="password" name="password" placeholder="Nuova Password" required>
        <button id="setNewPassword" class="submit-button">Imposta nuova password</button>
    </div>

</div>
<script src="/scripts/recupera_password.js"></script>
</body>
</html>

