<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Garage Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
</head>
<body>
<div class="login-container">
    <div class="logo">
        <img src="/imgs/logo.png" alt="Bike Garage Logo">
    </div>
    <form class="login-form" th:action="@{/login}" method="post">
        <h1>Accedi</h1>
        <div class="form-group">
            <input id="usrnm_field" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input id="pswd_field" type="password" pattern="^[a-zA-Z0-9_!?@]{6,}$" name="password"
                   placeholder="Password" required>
        </div>
        <input type="submit" class="login-button" value="Login"></input>
        <div id="div-error" th:if="${error}">
            Username o password invalidi
        </div>
    </form>
    <div class="forgot-password">
        <p>Password dimenticata? Recuperala</p>
    </div>
    <div class="status-check">
        <h2>Sei un cliente?</h2>
        <a href="/statoriparazione">Controlla lo stato della tua riparazione</a>
    </div>
</div>
<div id="modal">
    <div id="askmodal" class="utente-form-section modal-content">
        <h2>Recupero password</h2>
        <p>Inserisci la tua mail, riceverai un codice di recupero:</p>
        <input id="email_field" type="email" name="email" placeholder="Email" required>
        <button id="sendCode" class="submit-button">Pagamento</button>
        <button id="cancel-pagamento" class="submit-button">Annulla</button>
    </div>
    <div id="paymodal" class="utente-form-section modal-content">
        <h2>Pezzi utilizzati:</h2>
        <table class="search-table" id="pezziTable">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Quantità</th>
                <th>Prezzo</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <h2>Ore di lavoro (40€/h): <span id="ore"></span></h2>
        <h2>Totale: <span id="totale"></span> €</h2>
        <button id="confirm-pay" class="submit-button">Pagato</button>
    </div>
</div>
</body>
</html>

